body {
	background-image: url("immagini/tavolo-texture.jpg");
	background-repeat: no-repeat;
	background-size: 1920px,1080px;
}

#bordoScacchiera {

	background-image: url("immagini/wood-texture.jpg");
	background-size: 1920px,1080px;
	background-position: center;

	margin: auto;
	margin-top: 100px;
	
	
	border: 30px solid transparent;
	border-image: url("immagini/bordo.png") 100 stretch;

	

	width: 640px;
	padding: 0px;
	
	box-shadow: 0 0 25px 5px rgba(0,0,0, 0.8);
	/*transform: rotateX(45deg);*/

	animation: fadein 2s;
}




@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}




table{
	margin: auto;
	border: 5px;
	border-collapse: collapse;
	
	/*border-style: solid;
  	border-color: rgb(230, 230, 230);*/
	box-shadow: 0 0 20px 15px rgba(0,0,0, 0.8) inset;
}

td {
	border-collapse: collapse;
	width: 80px;
	height: 80px;
	margin: 0;
	padding: 0;
}


tr {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}



.bianco{
  background-color: rgb(244, 235, 216);
}

.nero{
  background-color: rgba(150, 75, 0, 0.5);
}



img{
	display: block;
	margin: auto;
	height: 70px;
	width: 70px;
	padding: 0;
}


.selezionato{
	
	/*background-color: rgba(255, 255, 255, 0.5);*/
	background-image:  url("immagini/selezione.png") ;
	background-size: 180px;
	background-repeat: no-repeat;
   	background-position: center;	
}

.mosse {
	background-image: url("immagini/mosse.png");
	background-size: 130px;
	background-repeat: no-repeat;
   	background-position: center;	
}

.mangia {
	background-image: url("immagini/mangia.png");
	background-size: 160px;
	background-repeat: no-repeat;
   	background-position: center;	
}


.scacco {
	background-image: url("immagini/check.png");
	background-size: 160px;
	background-repeat: no-repeat;
   	background-position: center;
}



.scaccomatto {

}


.stallo{

}



#eliminatinero {
	float: left;
}

#eliminatibianco {
	float: right;
}



ul{
	list-style-type: none;
}


#listaPedoneBianco {
	padding: 0;
	background-color: rgba(0,0,0,0.4);
	border-radius: 10px;
	display: none;
	width: 292px;
	margin: auto;
}


#listaPedoneBianco li {
	display: inline-block;
}